@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');

:root {
  --clr-black: #1D1F22;
  --clr-green: #5ECE7B;
  --clr-lightBlue: #B4D2F4;
  --clr-darkGrey: #43464E;
  --clr-lightGrey: #8D8F9A;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--clr-black);
  font-family: 'Raleway', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}